head {
  background-color: azure;
}

#main_buttons_box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: lightgray;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}